:root {
	--basic-white: #FFFFFF;
	--basic-gray: #EEEEEE;
	--basic-dark-gray: #444444;
	--basic-gray-hover: #DFDFDF;
	--basic-gray-active: #D5D5D5;
	--basic-gray-special: #666666;
	--basic-red: #FB565A;
	--basic-dark-red: #E74246;
	--basic-extra-red: #D7373B;
	--basic-green: #00CA74;
	--basic-dark-green: #00BC6C;
	--basic-extra-green: #00AA62;
	--basic-yellow: #EFC849;
	--basic-dark-yellow: #EAB534;
	--basic-extra-yellow: #E5A722;
	--basic-black: #000000;
	--basic-light-black: #283136;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*Global*/

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-light-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.container {
	width: 1160px;
    margin: 0 auto;
    padding: 0px;
}


/*Navigation*/
.main-header {
	outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}

.main-header-logo {
	width: 200px;
    height: 65px;
	outline: 5px solid rgba(255, 0, 0, 0.3);
	outline-offset: -5px;
}

.navigation {
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	background-color: var(--basic-gray);
}

.navigation .container {
	display: flex;
}

.navigation a:active {
	opacity: 0.3;
}

.navigation a:not([href]) {
	opacity: 1;
}

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	width: 800px;
	outline: 5px solid rgba(0, 255, 255, 0.3);
	outline-offset: -5px;
}

.user-navigation {
  width: 260px;
  text-align: end;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	/*display: block;*/
	color: var(--basic-black)
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

/*Информация*/
.main-info {
	background-color: var(--basic-gray);
	outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}

.main-info .container {
	display: flex;
	flex-direction: column;
}

.main-info h3 {
	margin: 0;
	padding: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 55px;
	color: var(--basic-black);
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.main-info p {
	margin: 0;
	padding: 0;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.main-info a {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
	border-radius: 3px;
	
}

.main-info a:hover {
	background-color: var(--basic-dark-red);
}

.main-info a:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-red);
}


/*Services*/
.services {
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}



.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-list li {
	outline: 5px solid rgba(0, 255, 255 , 0.3);
	outline-offset: -5px;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-black);
}

.services-list a {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}


/* Услуги-Вебсайты */

.services-list-one {
	background-color: var(--basic-red);
}

.services-list-one:hover {
	background-color: var(--basic-dark-red);
}

.services-list-one:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-red);
}


/* Услуги-Приложения */

.services-list-two {
	background-color: var(--basic-green);
}

.services-list-two:hover {
	background-color: var(--basic-dark-green);
}

.services-list-two:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-green);
}


/* Услуги-Презентации */

.services-list-three {
	background-color: var(--basic-yellow);
}

.services-list-three:hover {
	background-color: var(--basic-dark-yellow);
}

.services-list-three:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-yellow);
}

/*Преимущества*/
.container .box-1 {
	display: flex;
}

.advantages {
	width: 800px;
	outline: 5px solid rgba(0, 255, 255, 0.3);
	outline-offset: -5px;
}

.advantages h3 {
	font-weight: 500;
	font-size: 45px;
	line-height: 45px;
	color: var(--basic-black);
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.advantages h3+p {
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.advantages p+p{
	font-weight: 700;
	text-transform: uppercase;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.advantages ul {
	margin: 0;
	padding: 0;
	list-style: none;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

/*Как мы работаем*/

.work {
	outline: 5px solid rgba(0, 255, 255, 0.3);
	outline-offset: -5px;
}

.work img {
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.work p {
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.work ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: 18px;
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.work span {
	font-weight: 700;
	font-size: 45px;
	line-height: 64px;
	color: var(--basic-black);
}

/*Готовые шаблоны на главной странице*/
.sites {
	outline: 5px solid rgba(0, 255, 240 , 0.3);
	outline-offset: -5px;
}

.sites a {
	opacity: 0.2;
}

.sites a:hover {
	opacity: 1;
}

.sites a:active {
	opacity: 0.1;
}


.sites ul{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sites li{
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.sites .html-academy {
	width: 199px;
	height: 68px;
}

.sites .borodinski {
	width: 209px;
	height: 90px;
}

.sites .pink {
	width: 185px;
	height: 52px;
}

.sites .mishka {
	width: 173px;
	height: 84px;
}

/* Filters */

.filters legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filters ul {
	margin: 0;
	padding: 0;
	line-height: 19px;
	list-style: none;
}

.filters button {
	height: 50px;
	width: 260px;
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: var(--basic-gray);
	border-radius: 3px;
	outline: none;
	border: none;
}

.filters button:hover {
	background-color: var(--basic-gray-hover);
}

.filters button:active {
	color: var(--basic-black);
	color: rgb(0, 0, 0, 0.3);
	background-color: var(--basic-gray-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Catalog */

.shop h1 {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--basic-gray);
}

.catalog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item h3 a {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.catalog-item p {
	line-height: 18px;
	color: var(--basic-gray-special);
}

.catalog-item section {
	background-color: var(--basic-gray);
}

.catalog-item-price {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.catalog-item h3 a:hover {
	color: var(--basic-red);
}

.catalog-item h3 a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.catalog-item-price:hover {
	background-color: var(--basic-dark-red);
}

.catalog-item-price:active {
	background-color: var(--basic-extra-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/*Footer*/
.main-footer {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

.main-footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-social {
	width: 400px;
	outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	width: 260px;
	margin: 0;
	padding: 0;
	margin-top: 68px;
	list-style: none;
	outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 81px;
	width: 81px;
	border-radius: 50%;
	background-color: var(--basic-gray);
}

.social:hover {
	background-color: var(--basic-red);
}

.social:active {
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	fill-opacity: 0.3;
}

.page-footer {
	width: 760px;
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.page-footer h2 {
	margin: 0px;
	margin-top: 75px;
	margin-bottom: 10px;
	padding: 0;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--basic-black);
	outline: 5px solid rgba(255, 255, 0, 0.7);
	outline-offset: -5px;
}

.page-footer p {
	margin: 0px;
	margin-bottom: 74px;
	padding: 0;
	line-height: 22px;
	color: var(--basic-dark-gray);
	outline: 5px solid rgba(255, 255, 0, 0.7);
	outline-offset: -5px
}