:root {
	--basic-white: #FFFFFF;
	--basic-gray: #EEEEEE;
	--basic-dark-gray: #444444;
	--basic-gray-hover: #DFDFDF;
	--basic-gray-active: #D5D5D5;
	--basic-gray-special: #666666;
	--basic-red: #FB565A;
	--basic-dark-red: #E74246;
	--basic-extra-red: #D7373B;
	--basic-green: #00CA74;
	--basic-dark-green: #00BC6C;
	--basic-extra-green: #00AA62;
	--basic-yellow: #EFC849;
	--basic-dark-yellow: #EAB534;
	--basic-extra-yellow: #E5A722;
	--basic-black: #000000;
	--basic-light-black: #283136;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


/*Global*/

body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: var(--basic-light-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}


.page {
	height: 100%;
}

.page-body {
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

.main-header {
	outline: 5px solid rgba(0, 255, 0, 0.3);
    outline-offset: -5px;
}

.main-header-logo {
	width: 200px;
    height: 65px;
	outline: 5px solid rgba(255, 0, 0, 0.3);
	outline-offset: -5px;
}

.site-navigation {
	width: 800px;
	outline: 5px solid rgba(0, 255, 255, 0.3);
	outline-offset: -5px;
}

.user-navigation {
  max-width: 160px;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}

.container {
	width: 1160px;
    margin: 0 auto;
    padding: 0px;
}


















/*Navigation*/

.navigation {
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	background-color: var(--basic-gray);
}

.navigation .container {
	display: flex;
	justify-content: space-between;
}

.navigation a:active {
	opacity: 0.3;
}

.navigation a:not([href]) {
	opacity: 1;
}

.site-navigation,
.user-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation a,
.user-navigation a {
	color: var(--basic-black)
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
	color: var(--basic-red);
}

.site-navigation a:active,
.user-navigation a:active {
	color: var(--basic-black);
	opacity: 0.3;
}


/*Services*/
.services {
	outline: 5px solid rgba(255, 0, 0 , 0.3);
	outline-offset: -5px;
}

.services-list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 100px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.services-list li {
	outline: 5px solid rgba(0, 255, 255 , 0.3);
	outline-offset: -5px;
}

.services-list h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--basic-black);
}

.services-list a {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
}


/* Услуги-Вебсайты */

.services-list-one {
	background-color: var(--basic-red);
}

.services-list-one:hover {
	background-color: var(--basic-dark-red);
}

.services-list-one:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-red);
}


/* Услуги-Приложения */

.services-list-two {
	background-color: var(--basic-green);
}

.services-list-two:hover {
	background-color: var(--basic-dark-green);
}

.services-list-two:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-green);
}


/* Услуги-Презентации */

.services-list-three {
	background-color: var(--basic-yellow);
}

.services-list-three:hover {
	background-color: var(--basic-dark-yellow);
}

.services-list-three:active {
	color: rgb(255, 255, 255, 0.3);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
	background-color: var(--basic-extra-yellow);
}


/* Filters */

.filters legend {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.filters ul {
	margin: 0;
	padding: 0;
	line-height: 19px;
	list-style: none;
}

.filters button {
	height: 50px;
	width: 260px;
	font: inherit;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-transform: uppercase;
	color: var(--basic-black);
	background-color: var(--basic-gray);
	border-radius: 3px;
	outline: none;
	border: none;
}

.filters button:hover {
	background-color: var(--basic-gray-hover);
}

.filters button:active {
	color: var(--basic-black);
	color: rgb(0, 0, 0, 0.3);
	background-color: var(--basic-gray-active);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/* Catalog */

.shop h1 {
	margin: 0;
	font-weight: 500;
	font-size: 55px;
	line-height: 30px;
	color: var(--basic-black);
	background-color: var(--basic-gray);
}

.catalog ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.catalog-item h3 a {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	text-transform: uppercase;
	color: var(--basic-black);
}

.catalog-item p {
	line-height: 18px;
	color: var(--basic-gray-special);
}

.catalog-item section {
	background-color: var(--basic-gray);
}

.catalog-item-price {
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	color: var(--basic-white);
	background-color: var(--basic-red);
}

.catalog-item h3 a:hover {
	color: var(--basic-red);
}

.catalog-item h3 a:active {
	color: var(--basic-black);
	opacity: 0.3;
}

.catalog-item-price:hover {
	background-color: var(--basic-dark-red);
}

.catalog-item-price:active {
	background-color: var(--basic-extra-red);
	box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


/*Footer*/
.main-footer {
	outline: 5px solid rgba(255, 0, 0, 0.7);
	outline-offset: -5px;
}

.main-footer .container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-social {
	width: 360px;
	outline: 5px solid rgba(0, 255, 255, 0.7);
	outline-offset: -5px;
}

.footer-social ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.social-vk {
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-vk:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-vk:active {
	fill-opacity: 0.3;
}

.social-fb {
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-fb:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-fb:active {
	fill-opacity: 0.3;
}

.social-inst {
	background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
}

.social-inst:hover {
	background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-inst:active {
	fill-opacity: 0.3;
}

.page-footer {
	width: 800px;
	outline: 5px solid rgba(0, 255, 0, 0.7);
	outline-offset: -5px;
}

.page-footer h2 {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: var(--basic-black);
}

.page-footer p {
	line-height: 22px;
	color: var(--basic-dark-gray);
}